/* BANNER */
.banner {
    font-family: 'abril-fatface';
    background-color: $air-force-blue;
    color: $white;
    font-size: 40px;
    line-height: 53.96px;
    font-weight: 400;
    width: 100%;
    padding: 16px 32px;
    text-align: center;
}