/* BANNER */
.banner {
    font-family: 'abril-fatface';
    background-color: $air-force-blue;
    color: $white;
    font-size: 2.5rem;
    line-height: 3.37rem;
    font-weight: 400;
    width: 100%;
    padding: 1.0rem 2.0rem;
    text-align: center;
}

.narrow {
    background: linear-gradient(to left, $air-force-blue 90%, transparent 90%);
    margin-top: -2.5rem;
}