/* HEADER */
.header {
    &__container {
      padding: 0.0rem 1.0rem;
      background-image: url(/src/assets/images/home.jpeg);
      height: 20.5rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
    }
  
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
      position: fixed;
      top: 0;
      width: 100%;
      margin-left: -1.0rem;
      padding: 0 1.0rem;
      transition: background-color 0.3s ease;
    }
  
    &__topTitle {
      font-family: 'abril-fatface';
      font-size: 2.5rem;
      font-weight: 400;
      height: 3.38rem;
      line-height: 3.37rem;
      color: $black;
      z-index: 2;
  
      a {
        text-decoration: none;
        color: $black;
      }
  
      span {
        color: $air-force-blue;
      }
    }
  
    &__bottom {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 100%;
    }
  
    &__bottomTitle {
      font-family: 'work-sans-italic';
      font-style: italic;
      text-align: right;
      font-family: 'work-sans';
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 1.76rem;
      width: 15.62rem;
    }
  
    &--bold--orange {
      font-family: 'work-sans-bold';
      font-size: 2.0rem;
      font-style: normal;
      color: $sinopia;
      font-weight: 700;
      line-height: 2.35rem;
    }
  
    &--bold--blue {
      font-family: 'abril-fatface';
      color: $air-force-blue;
      font-weight: 400;
      font-size: 2.0rem;
      font-style: normal;
      line-height: 2.35rem;
    }
}

.scrolled {
    background-color: $white;
}
