/* BURGER */
/* Style for the burger button */
.header {
    &__burger {
        position: relative;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border: none;
        background: none;
        z-index: 2;

        /* Default state (burger icon) */
        &::after {
            content: url('data:image/svg+xml,<svg class="header__burger" width="32" height="25" viewBox="0 0 32 25" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="Ouvrir le menu"><path d="M0 0H32V3H0V0Z" fill="black"/><path d="M0 11H32V14H0V11Z" fill="black"/><path d="M0 22H32V25H0V22Z" fill="black"/></svg>');
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.5s ease; /* Smooth transition */
            opacity: 1;
        }

        /* Open state (cross icon) */
        &::before {
            content: url('data:image/svg+xml,<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.12132 0L26.8701 24.7487L24.7487 26.8701L0 2.12132L2.12132 0Z" fill="black"/><path d="M0 24.7487L24.7487 0L26.8701 2.12132L2.12132 27L0 24.7487Z" fill="black"/></svg>');
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.5s ease; /* Smooth transition */
            opacity: 0; /* Hidden by default */
        }

        &.open {
            &::after {
                opacity: 0; /* Hide the burger icon */
            }
            &::before {
                opacity: 1; /* Show the cross icon */
            }
        }
    }

    /* Menu hidden by default */
    &__menu {
        position: fixed;
        top: -100%;
        width: 100%;
        background-color: $white;
        transition: top 0.5s ease-in-out;
        z-index: 1;
        text-align: center;
        margin-left: -1.0rem;
        border-bottom: solid $sinopia 0.31rem;
        font-family: 'work-sans';
        font-size: 1.25rem;
        line-height: 1.47rem;
    
        ul {
            list-style: none;
            padding: 1.88rem 1.25rem;
            margin-top: 1.88rem;
    
            li {
                margin: 1.88rem 0;
    
                a {
                    color: $black;
                    text-decoration: none;
                    font-size: 1.12rem;
    
                    &:active {
                        border-bottom: solid $sinopia 0.12rem;
                    }
                }
            }
        }
    
        &.open {
            top: 0;
        }
    }
}

// Search bar
.search__container {
    display: flex;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}
  
.search__field {
    border: none;
    background-color: $white-smoke;
    padding: 1rem;
    width: 86%;
  
    &::placeholder {
        color: $air-force-blue;
        font-family: 'work-sans';
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.47rem;
    }
}
  
.search__btn {
    background-color: $air-force-blue;
    border: none;
    padding: 0 0.8rem;
  
    &:after {
        content: url('data:image/svg+xml,<svg width="19" height="25" viewBox="0 0 19 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.45805 28.4819C1.08852 28.8785 0.887354 29.403 0.896916 29.945C0.906478 30.4869 1.12603 31.004 1.50931 31.3873C1.89259 31.7706 2.40967 31.9901 2.95163 31.9997C3.49359 32.0092 4.0181 31.8081 4.41466 31.4385L18.361 17.4923C18.5553 17.298 18.7096 17.0673 18.8148 16.8134C18.92 16.5595 18.9741 16.2874 18.9741 16.0125C18.9741 15.7377 18.92 15.4656 18.8148 15.2117C18.7096 14.9578 18.5553 14.7271 18.361 14.5328L4.41466 0.586558C4.01994 0.205675 3.4914 -0.00493536 2.9429 8.78335e-05C2.3944 0.00511103 1.86982 0.225366 1.48214 0.613414C1.09445 1.00146 0.874694 1.52625 0.870188 2.07476C0.865682 2.62326 1.07679 3.1516 1.45805 3.54596L13.926 16.0139L1.45805 28.4819Z" fill="white"/>');
    }
}
  